Repository Xyaneon/LTUAssistantPlus, pull requests merged in 2019-12, with the labels that each got.

#34 Load built-in skills dynamically by name convention
  LTUAssistantPlus/assistantdb.py
  LTUAssistantPlus/skills/__init__.py
Labels: enhancement, skills

#37 Add skill setup
  LTUAssistantPlus/skills/__init__.py
  LTUAssistantPlus/skills/add_calendar_event_skill.py
  LTUAssistantPlus/skills/change_assistant_voice_skill.py
  LTUAssistantPlus/skills/change_user_name_skill.py
  LTUAssistantPlus/skills/faq_skill.py
  LTUAssistantPlus/skills/open_website_skill.py
  LTUAssistantPlus/skills/room_finder_skill.py
  LTUAssistantPlus/skills/send_email_skill.py
  LTUAssistantPlus/skills/skill.py
  LTUAssistantPlus/skills/tell_date_skill.py
  LTUAssistantPlus/skills/tell_schedule_skill.py
  LTUAssistantPlus/skills/tell_time_skill.py
Labels: enhancement, skills

#38 Further refine assistant services
  LTUAssistantPlus/LTUAssistant.py
  LTUAssistantPlus/calendardb.py
  LTUAssistantPlus/services/__init__.py
  LTUAssistantPlus/services/assistant_services.py
  LTUAssistantPlus/services/assistant_services_base.py
  LTUAssistantPlus/services/calendar/__init__.py
  LTUAssistantPlus/services/calendar/calendar_event.py
  LTUAssistantPlus/services/calendar/calendar_service.py
  LTUAssistantPlus/services/calendar/calendar_service_base.py
  LTUAssistantPlus/services/calendar/calendar_util.py
  LTUAssistantPlus/services/settings_service.py
  LTUAssistantPlus/services/settings_service_base.py
  LTUAssistantPlus/services/user_interface/__init__.py
  LTUAssistantPlus/services/user_interface/listening_service.py
  LTUAssistantPlus/services/user_interface/listening_service_base.py
  LTUAssistantPlus/services/user_interface/notification_service.py
  LTUAssistantPlus/services/user_interface/notification_service_base.py
  LTUAssistantPlus/services/user_interface/speaking_service.py
  LTUAssistantPlus/services/user_interface/speaking_service_base.py
  LTUAssistantPlus/services/user_interface/user_interaction_service.py
  LTUAssistantPlus/services/user_interface/user_interaction_service_base.py
  LTUAssistantPlus/settings.py
  LTUAssistantPlus/skill_selection.py
  LTUAssistantPlus/skills/add_calendar_event_skill.py
  LTUAssistantPlus/skills/change_assistant_voice_skill.py
  LTUAssistantPlus/skills/change_user_name_skill.py
  LTUAssistantPlus/skills/faq_skill.py
  LTUAssistantPlus/skills/open_website_skill.py
  LTUAssistantPlus/skills/room_finder_skill.py
  LTUAssistantPlus/skills/send_email_skill.py
  LTUAssistantPlus/skills/skill.py
  LTUAssistantPlus/skills/tell_date_skill.py
  LTUAssistantPlus/skills/tell_schedule_skill.py
  LTUAssistantPlus/skills/tell_time_skill.py
  LTUAssistantPlus/user_interface/notifications.py
  requirements.txt
Labels: enhancement, services

#40 Make voice setting work on Windows and fix skill
  LTUAssistantPlus/services/user_interface/speaking_service.py
  LTUAssistantPlus/skills/change_assistant_voice_skill.py
  requirements.txt
Labels: bug, skills

#41 Crawling integration
  .travis.yml
  LTUAssistantPlus/LTUAssistant.py
  LTUAssistantPlus/nlp/universal_dependencies.py
  LTUAssistantPlus/services/assistant_services_base.py
  LTUAssistantPlus/services/settings_service.py
  LTUAssistantPlus/skill_selection.py
  LTUAssistantPlus/skills/__init__.py
  LTUAssistantPlus/skills/add_calendar_event_skill.py
  LTUAssistantPlus/skills/change_assistant_voice_skill.py
  LTUAssistantPlus/skills/change_user_name_skill.py
  LTUAssistantPlus/skills/crawler.py
  LTUAssistantPlus/skills/faq_skill.py
  LTUAssistantPlus/skills/open_website_skill.py
  LTUAssistantPlus/skills/room_finder_skill.py
  LTUAssistantPlus/skills/send_email_skill.py
  LTUAssistantPlus/skills/skill.py
  LTUAssistantPlus/skills/tell_date_skill.py
  LTUAssistantPlus/skills/tell_schedule_skill.py
  LTUAssistantPlus/skills/tell_time_skill.py
  README.md
  THIRD_PARTY_NOTICES.txt
  requirements.txt
Labels: enhancement

#42 Add skill recognition tests for full sentences
  .travis.yml
  LTUAssistantPlus/skills/open_website_skill.py
  LTUAssistantPlus/skills/room_finder_skill.py
  LTUAssistantPlus/skills/send_email_skill.py
  LTUAssistantPlus/skills/tell_date_skill.py
  LTUAssistantPlus/skills/tell_schedule_skill.py
  LTUAssistantPlus/skills/tell_time_skill.py
  LTUAssistantPlus/test/integration/__init__.py
  LTUAssistantPlus/test/integration/skills/__init__.py
  LTUAssistantPlus/test/integration/skills/test_add_calendar_event_skill.py
  LTUAssistantPlus/test/integration/skills/test_change_assistant_voice_skill.py
  LTUAssistantPlus/test/integration/skills/test_change_user_name_skill.py
  LTUAssistantPlus/test/integration/skills/test_open_website_skill.py
  LTUAssistantPlus/test/integration/skills/test_room_finder_skill.py
  LTUAssistantPlus/test/integration/skills/test_send_email_skill.py
  LTUAssistantPlus/test/integration/skills/test_tell_date_skill.py
  LTUAssistantPlus/test/integration/skills/test_tell_schedule_skill.py
  LTUAssistantPlus/test/integration/skills/test_tell_time_skill.py
  LTUAssistantPlus/test/skills/test_open_website_skill.py
Labels: Testing, skills

#45 Add Neo4j HTTPS configuration note
  README.md
Labels: documentation

#47 Fix RoomFinderSkill crash and add better tests
  LTUAssistantPlus/LTUAssistant.py
  LTUAssistantPlus/services/assistant_services.py
  LTUAssistantPlus/skills/room_finder_skill.py
  LTUAssistantPlus/test/integration/skills/test_room_finder_skill.py
  LTUAssistantPlus/test/skills/test_room_finder_skill.py
Labels: Testing, bug, skills

#44 Update db
  LTUAssistantPlus/nlp/natural_language_processing.py
  LTUAssistantPlus/skills/crawler.py
  LTUAssistantPlus/skills/getResult.py
  LTUAssistantPlus/skills/neo4j_db.py
  keywordsExtraction.py
  test.csv
  test0.csv
  test1.csv
  test2.csv
  test3.csv
Labels: enhancement, skills

#49 Fix add_calendar_event_skill crash
  LTUAssistantPlus/skills/add_calendar_event_skill.py
  LTUAssistantPlus/test/integration/skills/test_add_calendar_event_skill.py
Labels: bug, skills

#51 Make CalendarEvent reading more resilient
  LTUAssistantPlus/services/calendar/calendar_service.py
Labels: bug, skills

#54 Add sample commands to README
  README.md
Labels: documentation

#55 Fix change user name skill crash
  LTUAssistantPlus/skill_selection.py
  LTUAssistantPlus/skills/change_user_name_skill.py
  LTUAssistantPlus/test/integration/skills/test_change_user_name_skill.py
Labels: bug, skills

#56 Better open website skill tests
  LTUAssistantPlus/LTUAssistant.py
  LTUAssistantPlus/skill_selection.py
  LTUAssistantPlus/skills/open_website_skill.py
  LTUAssistantPlus/skills/skill.py
  LTUAssistantPlus/test/integration/skills/test_add_calendar_event_skill.py
  LTUAssistantPlus/test/integration/skills/test_change_assistant_voice_skill.py
  LTUAssistantPlus/test/integration/skills/test_change_user_name_skill.py
  LTUAssistantPlus/test/integration/skills/test_open_website_skill.py
  LTUAssistantPlus/test/integration/skills/test_room_finder_skill.py
  LTUAssistantPlus/test/integration/skills/test_send_email_skill.py
  LTUAssistantPlus/test/integration/skills/test_tell_date_skill.py
  LTUAssistantPlus/test/integration/skills/test_tell_schedule_skill.py
  LTUAssistantPlus/test/integration/skills/test_tell_time_skill.py
  LTUAssistantPlus/test/skills/__init__.py
  LTUAssistantPlus/test/skills/test_add_calendar_event_skill.py
  LTUAssistantPlus/test/skills/test_change_assistant_voice_skill.py
  LTUAssistantPlus/test/skills/test_change_user_name_skill.py
  LTUAssistantPlus/test/skills/test_open_website_skill.py
  LTUAssistantPlus/test/skills/test_room_finder_skill.py
  LTUAssistantPlus/test/skills/test_send_email_skill.py
  LTUAssistantPlus/test/skills/test_tell_date_skill.py
  LTUAssistantPlus/test/skills/test_tell_schedule_skill.py
  LTUAssistantPlus/test/skills/test_tell_time_skill.py
Labels: Testing, enhancement, skills

#58 Fix send email crash
  LTUAssistantPlus/skills/send_email_skill.py
  LTUAssistantPlus/test/integration/skills/test_open_website_skill.py
  LTUAssistantPlus/test/integration/skills/test_send_email_skill.py
Labels: Testing, bug, skills

#59 Make verbosity controllable via command line switch
  LTUAssistantPlus/LTUAssistant.py
Labels: Testing, enhancement
